:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-bai-jamjuree: 'Bai Jamjuree', sans-serif;
  --color-theme: #7a2cf0;
  --color-black: #070708;
  --color-white: #e9e9e9;
  --color-gray: #a0a0a0;
}

[data-theme='dark'] {
  --color-background: #161616;
  --color-text-primary: #e9e9e9;
  --color-text-secondary: #a0a0a0;
  --color-section: #070708;
}

[data-theme='light'] {
  --color-background: #fbfbfb;
  --color-text-primary: #222125;
  --color-text-secondary: #666666;
  --color-section: #d3d3d3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition:
    background-color 0.5s ease,
    color 0.6s ease;
  font-family: var(--font-roboto);
}
